body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-dodgerblue: #0085ff;
  --color-midnightblue: #2f0f5d;

  /* border radiuses */
  --br-3xl: 22px;
}
